<div class="card">
    <div class="card-body">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <label>Enter Name</label>
      <input type="text" placeholder="Enter Name" formControlName="name">
      <br>
      <label>Enter Age</label>
      <input type="email" placeholder="Enter email"  formControlName="email">
      <br>
      <label>Enter Email</label>
      <input type="email" placeholder="Enter email"  formControlName="email">
      <br>
       <label>
        <input type="radio" formControlName="userType" value="user" /> user
      </label>
      <label>
        <input type="radio" formControlName="userType" value="admin" /> admin
      </label>
<br>
      <button type="submit">Submit</button>
    </form>
    </div>
</div>

